[submodule ".registry"]
	path = .registry
	url = https://github.com/n-kall/n-kall.r-universe.dev
	branch = HEAD
[submodule "priorsense"]
	path = priorsense
	url = https://github.com/n-kall/priorsense
